In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
df = pd.read_csv('../homework/city_weather.csv')

In [4]:
g =df.groupby('city')

In [5]:
g.agg('max')
g.max()

            date  temperature  wind
city
BJ    31/01/2016           19     5
GZ    31/07/2016           25     5
SH    27/03/2016           20     5
SZ    25/09/2016           20     4

In [6]:
def foo(attr):
    print(attr)
    return attr.max() - attr.min()

In [7]:
g.agg(foo)

0    03/01/2016
1    17/01/2016
2    31/01/2016
3    14/02/2016
4    28/02/2016
5    13/03/2016
Name: date, dtype: object
0    03/01/2016
1    17/01/2016
2    31/01/2016
3    14/02/2016
4    28/02/2016
5    13/03/2016
Name: date, dtype: object
0    03/01/2016
1    17/01/2016
2    31/01/2016
3    14/02/2016
4    28/02/2016
5    13/03/2016
Name: BJ, dtype: object
0    03/01/2016
1    17/01/2016
2    31/01/2016
3    14/02/2016
4    28/02/2016
5    13/03/2016
Name: BJ, dtype: object
0     8
1    12
2    19
3    -3
4    19
5     5
Name: temperature, dtype: int64
14    10
15    -1
16     1
17    25
Name: temperature, dtype: int64
6     -4
7     19
8     20
9     17
10     4
11   -10
12     0
13    -9
Name: temperature, dtype: int64
18    20
19   -10
Name: temperature, dtype: int64
0    5
1    2
2    2
3    3
4    2
5    3
Name: wind, dtype: int64
14    2
15    5
16    5
17    4
Name: wind, dtype: int64
6     4
7     3
8     3
9     3
10    2
11    4
12    5
13    5
Name: wind, dtype: int64
18    1
19    4
Name: wind, dtype: int64

      temperature  wind
city
BJ             22     3
GZ             26     3
SH             30     3
SZ             30     3

In [22]:
df

          date city  temperature  wind
0   03/01/2016   BJ            8     5
1   17/01/2016   BJ           12     2
2   31/01/2016   BJ           19     2
3   14/02/2016   BJ           -3     3
4   28/02/2016   BJ           19     2
5   13/03/2016   BJ            5     3
6   27/03/2016   SH           -4     4
7   10/04/2016   SH           19     3
8   24/04/2016   SH           20     3
9   08/05/2016   SH           17     3
10  22/05/2016   SH            4     2
11  05/06/2016   SH          -10     4
12  19/06/2016   SH            0     5
13  03/07/2016   SH           -9     5
14  17/07/2016   GZ           10     2
15  31/07/2016   GZ           -1     5
16  14/08/2016   GZ            1     5
17  28/08/2016   GZ           25     4
18  11/09/2016   SZ           20     1
19  25/09/2016   SZ          -10     4

In [24]:
g_new = df.groupby(['city', 'wind'])

In [25]:
g_new

In [31]:
g_new.get_group(('BJ',3))

         date city  temperature  wind
3  14/02/2016   BJ           -3     3
5  13/03/2016   BJ            5     3

In [29]:
g.get_group('BJ')

         date  temperature  wind
0  03/01/2016            8     5
1  17/01/2016           12     2
2  31/01/2016           19     2
3  14/02/2016           -3     3
4  28/02/2016           19     2
5  13/03/2016            5     3

In [34]:
for (name_1,name_2), group in g_new:
    print(name_1,name_2)
    print(group)

BJ 2
         date city  temperature  wind
1  17/01/2016   BJ           12     2
2  31/01/2016   BJ           19     2
4  28/02/2016   BJ           19     2
BJ 3
         date city  temperature  wind
3  14/02/2016   BJ           -3     3
5  13/03/2016   BJ            5     3
BJ 5
         date city  temperature  wind
0  03/01/2016   BJ            8     5
GZ 2
          date city  temperature  wind
14  17/07/2016   GZ           10     2
GZ 4
          date city  temperature  wind
17  28/08/2016   GZ           25     4
GZ 5
          date city  temperature  wind
15  31/07/2016   GZ           -1     5
16  14/08/2016   GZ            1     5
SH 2
          date city  temperature  wind
10  22/05/2016   SH            4     2
SH 3
         date city  temperature  wind
7  10/04/2016   SH           19     3
8  24/04/2016   SH           20     3
9  08/05/2016   SH           17     3
SH 4
          date city  temperature  wind
6   27/03/2016   SH           -4     4
11  05/06/2016   SH          -10     4
SH 5
          date city  temperature  wind
12  19/06/2016   SH            0     5
13  03/07/2016   SH           -9     5
SZ 1
          date city  temperature  wind
18  11/09/2016   SZ           20     1
SZ 4
          date city  temperature  wind
19  25/09/2016   SZ          -10     4

In [25]:
df = pd.read_csv('../homework/c4.csv')
g = df.groupby(['Country','Region','City'])
g.get_group(('Australia', 'NSW', 'Sydney'))

,Country,Company,OrderDate,OrderAmount,Price,Qty,UnitCost,Gross_Profit,Name,City,Region
112,Australia,Wendys Wares,4/17/2006,6886.0,219.0,2,148.0,142.0,Jacob P. Williams,Sydney,NSW
113,Australia,Wendys Wares,4/17/2006,6886.0,195.0,2,132.0,126.0,Jacob P. Williams,Sydney,NSW
114,Australia,Wendys Wares,4/17/2006,6886.0,799.0,5,632.0,835.0,Jacob P. Williams,Sydney,NSW
115,Australia,Wendys Wares,4/17/2006,6886.0,1535.0,2,1195.0,680.0,Jacob P. Williams,Sydney,NSW
116,Australia,Wendys Wares,4/17/2006,6886.0,695.0,2,588.0,214.0,Jacob P. Williams,Sydney,NSW
429,Australia,Wendys Wares,3/27/2007,2550.0,1275.0,2,995.0,560.0,Jacob P. Williams,Sydney,NSW
750,Australia,Wendys Wares,3/1/2008,3825.0,1782.0,1,740.0,1042.0,Rhonda P. Edmonson,Sydney,NSW
751,Australia,Wendys Wares,3/1/2008,3825.0,1275.0,3,995.0,840.0,Rhonda P. Edmonson,Sydney,NSW
948,Australia,Wendys Wares,9/24/2008,0.0,1275.0,0,895.5,0.0,Jacob P. Williams,Sydney,NSW
1114,Australia,Wendys Wares,3/27/2009,2550.0,1275.0,2,995.0,560.0,Jacob P. Williams,Sydney,NSW
1139,Australia,Wendys Wares,4/17/2009,6886.0,195.0,2,132.0,126.0,Jacob P. Williams,Sydney,NSW
1140,Australia,Wendys Wares,4/17/2009,6886.0,799.0,5,632.0,835.0,Jacob P. Williams,Sydney,NSW
1141,Australia,Wendys Wares,4/17/2009,6886.0,219.0,2,148.0,142.0,Jacob P. Williams,Sydney,NSW
1142,Australia,Wendys Wares,4/17/2009,6886.0,695.0,2,588.0,214.0,Jacob P. Williams,Sydney,NSW
1143,Australia,Wendys Wares,4/17/2009,6886.0,1535.0,2,1195.0,680.0,Jacob P. Williams,Sydney,NSW
1408,Australia,Wendys Wares,7/16/2007,2466.0,836.0,1,1166.0,-330.0,Rhonda P. Edmonson,Sydney,NSW
1554,Australia,Wendys Wares,9/12/2008,1967.0,1277.0,8,1060.0,1736.0,Rhonda P. Edmonson,Sydney,NSW
1576,Australia,Wendys Wares,3/21/2006,2412.0,1558.0,4,800.0,3032.0,Jacob P. Williams,Sydney,NSW
1712,Australia,Wendys Wares,9/17/2007,5184.0,1346.0,1,466.0,880.0,Stephen R. Johns,Sydney,NSW
1937,Australia,Wendys Wares,7/27/2006,2809.0,782.0,2,1927.0,-2290.0,Kathy A. Duncan,Sydney,NSW
1959,Australia,Wendys Wares,2/9/2008,3703.0,1204.0,9,1646.0,-3978.0,Jacob P. Williams,Sydney,NSW
2051,Australia,Wendys Wares,6/26/2007,4332.0,385.0,8,1349.0,-7712.0,Jacob P. Williams,Sydney,NSW
2075,Australia,Wendys Wares,4/19/2007,5226.0,1976.0,3,621.0,4065.0,Jacob P. Williams,Sydney,NSW
2145,Australia,Wendys Wares,2/5/2008,5316.0,499.0,0,1129.0,0.0,Kathy A. Duncan,Sydney,NSW
2167,Australia,Wendys Wares,12/17/2009,210.0,921.0,7,848.0,511.0,Jacob P. Williams,Sydney,NSW
2335,Australia,Wendys Wares,9/5/2009,4698.0,1495.0,7,588.0,6349.0,Kathy A. Duncan,Sydney,NSW
2406,Australia,Wendys Wares,1/25/2007,2625.0,1964.0,8,1749.0,1720.0,Jacob P. Williams,Sydney,NSW
2598,Australia,Wendys Wares,1/1/2007,2168.0,646.0,0,194.0,0.0,Rhonda P. Edmonson,Sydney,NSW
2753,Australia,Wendys Wares,12/21/2006,3519.0,385.0,5,1468.0,-5415.0,Stephen R. Johns,Sydney,NSW
2872,Australia,Wendys Wares,12/15/2008,3916.0,1885.0,9,1261.0,5616.0,Stephen R. Johns,Sydney,NSW
...,...,...,...,...,...,...,...,...,...,...,...
146987,Australia,Wendys Wares,8/15/2011,3294.0,1848.0,7,1206.0,4494.0,Robert M. Phillips,Sydney,NSW
147127,Australia,Wendys Wares,8/13/2006,989.0,175.0,2,587.0,-824.0,Jacob P. Williams,Sydney,NSW
147135,Australia,Wendys Wares,4/17/2006,2808.0,1536.0,3,1458.0,234.0,Stephen R. Johns,Sydney,NSW
147249,Australia,Wendys Wares,1/17/2010,2239.0,124.0,8,326.0,-1616.0,Jacob P. Williams,Sydney,NSW
147362,Australia,Wendys Wares,7/22/2005,5365.0,1789.0,0,231.0,0.0,Stephen R. Johns,Sydney,NSW
147395,Australia,Wendys Wares,7/12/2010,1314.0,1436.0,4,1396.0,160.0,Kathy A. Duncan,Sydney,NSW
147403,Australia,Wendys Wares,2/28/2001,3133.0,1734.0,8,1488.0,1968.0,Stephen R. Johns,Sydney,NSW
147482,Australia,Wendys Wares,12/8/2009,2938.0,1568.0,4,624.0,3776.0,Robert M. Phillips,Sydney,NSW
147610,Australia,Wendys Wares,6/20/2008,1184.0,335.0,4,11.0,1296.0,Robert M. Phillips,Sydney,NSW
147755,Australia,Wendys Wares,12/13/2008,259.0,454.0,3,1376.0,-2766.0,Rhonda P. Edmonson,Sydney,NSW
147763,Australia,Wendys Wares,11/11/2011,2078.0,475.0,6,899.0,-2544.0,Robert M. Phillips,Sydney,NSW
147770,Australia,Wendys Wares,12/23/2008,4757.0,525.0,7,1950.0,-9975.0,Kathy A. Duncan,Sydney,NSW
148035,Australia,Wendys Wares,5/16/2007,5203.0,543.0,4,1970.0,-5708.0,Kathy A. Duncan,Sydney,NSW
148192,Australia,Wendys Wares,7/21/2004,4027.0,478.0,6,1275.0,-4782.0,Stephen R. Johns,Sydney,NSW
148222,Australia,Wendys Wares,5/5/2012,1152.0,702.0,9,567.0,1215.0,Rhonda P. Edmonson,Sydney,NSW
148397,Australia,Wendys Wares,10/8/2010,97.0,1774.0,4,455.0,5276.0,Kathy A. Duncan,Sydney,NSW
148642,Australia,Wendys Wares,4/11/2006,3223.0,1970.0,5,1126.0,4220.0,Jacob P. Williams,Sydney,NSW
148713,Australia,Wendys Wares,4/1/2011,5172.0,245.0,6,607.0,-2172.0,Robert M. Phillips,Sydney,NSW
148722,Australia,Wendys Wares,11/19/2001,991.0,706.0,3,257.0,1347.0,Jacob P. Williams,Sydney,NSW
148828,Australia,Wendys Wares,6/18/2003,2046.0,1217.0,7,98.0,7833.0,Robert M. Phillips,Sydney,NSW
149168,Australia,Wendys Wares,9/3/2009,4117.0,389.0,9,705.0,-2844.0,Stephen R. Johns,Sydney,NSW
149241,Australia,Wendys Wares,5/14/2002,66.0,1963.0,6,1307.0,3936.0,Kathy A. Duncan,Sydney,NSW
149381,Australia,Wendys Wares,11/6/2008,1883.0,46.0,3,758.0,-2136.0,Jacob P. Williams,Sydney,NSW
149421,Australia,Wendys Wares,5/28/2004,2646.0,830.0,7,1369.0,-3773.0,Stephen R. Johns,Sydney,NSW
149536,Australia,Wendys Wares,1/24/2013,5011.0,1647.0,5,1902.0,-1275.0,Stephen R. Johns,Sydney,NSW
149823,Australia,Wendys Wares,7/30/2008,2136.0,1286.0,5,1863.0,-2885.0,Rhonda P. Edmonson,Sydney,NSW
149831,Australia,Wendys Wares,6/28/2011,3955.0,589.0,3,1911.0,-3966.0,Robert M. Phillips,Sydney,NSW
149861,Australia,Wendys Wares,3/7/2004,5904.0,1815.0,7,1461.0,2478.0,Rhonda P. Edmonson,Sydney,NSW
149969,Australia,Wendys Wares,12/21/2011,3030.0,1188.0,8,810.0,3024.0,Rhonda P. Edmonson,Sydney,NSW
149977,Australia,Wendys Wares,8/10/2002,4849.0,68.0,3,1184.0,-3348.0,Kathy A. Duncan,Sydney,NSW